h2 {
    display: inline-block !important;
    margin-right: 10px;
}
.debug_info {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

svg g.tick line {
    stroke: #eee;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

svg {
  overflow: visible;
}

svg.objects .dot:hover {
  stroke: black;
  stroke-width: 3px;
}