h2 {
    display: inline-block !important;
    margin-right: 10px;
}
.debug_info {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

#tooltip {
  color: red;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid black;  
}

#cloudlines, #storyview {
  float: left;
}


svg g.tick line {
    stroke: #eee;
}

svg path.selection, svg path.terminator {
  stroke: #000;
  stroke-width: 1;
  fill: none;
}
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

svg {
  overflow: visible;
}

#storyview { 
  overflow-y: scroll;
}
#storyview div.item{
  cursor: pointer;
      height: 39px;
    overflow: hidden;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 2px;    
}

#storyview .first-mention {
  background: gold;
}