h1 {
    text-align: center;
    color: white;
    background:#3b5998;
    margin: 0px;
    height: 50px;
    line-height: 50px;    
}

body {
      margin: 0px;
        background: rgba(84, 86, 160, 0.05);
}

.cloudlines-title, .storyview-title {
  text-align: center;
    font-size: 20px;
    margin: 5px;
}
#debug {
  display:none;
}
#debug_time_to_refresh {
    position: absolute;
    right: 50px;
    top: 2px;
    font-weight: bold;
    color: #3b5998;
    font-size: 23px;
    background: white;
    padding: 10px;
    width: 24px;
    border-radius: 4px;
    text-align: center;
}
h2 {
    display: inline-block !important;
    margin-right: 10px;
}
.debug_info {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

#tooltip {
  color: red;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid black;  
}

#cloudlines, #storyview {
  float: left;
}
#cloudlines svg {
  overflow: hidden;
  margin-left: 10px;
}

svg g.tick line {
    stroke: #eee;
}

svg path.selection, svg path.terminator {
  stroke: #000;
  stroke-width: 1;
  fill: none;
}
.zoom-parent rect {
  fill: white;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

svg {
  /*overflow: visible;*/
}

#storyview { 
  overflow-y: scroll;
}
#storyview div.item{
  cursor: pointer;
      height: 39px;
    overflow: hidden;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 2px;    
}

#storyview .first-mention {
  background: gold;
}

#brush_container .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.2;
}